.git
.devcontainer
.github
.husky
.vscode
docs
examples
.dockerignore
.editorconfig
.eslintcache
.gitattributes
.gitignore
.gitpod.yml
.lintstagedrc.js
.node-version
.npmrc
.nvmrc
.prettierrc
.syncpackrc.js
cspell.json
eslint.config.mjs
**/Dockerfile
**/node_modules
**/*.md
**/dist
**/tmp
