# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem

# debug
*.log
*-debug.log
*-error.log

# local env files
.env*

# dependencies
node_modules
.pnp
.pnp.js
.npm

# output
build
dist
out
.next
tmp

# build cache
*.tsbuildinfo

# testing
coverage
*.lcov
*.info

# turbo
.turbo

# linter
.eslintcache

# oclif
oclif.manifest.json


# # typedoc
# docs/
