# npm
# https://docs.npmjs.com/cli/v11/using-npm/config#provenance
provenance=true
# https://docs.npmjs.com/cli/v11/using-npm/config#save-exact
save-exact=true

# pnpm
# https://pnpm.io/npmrc#cli-settings
engine-strict=true
package-manager-strict-version=true
manage-package-manager-versions=false
# https://pnpm.io/npmrc#build-settings
child-concurrency=10
verify-deps-before-run=error
# https://pnpm.io/npmrc#nodejs-settings
use-node-version=22.12.0
# https://pnpm.io/npmrc#workspace-settings
inject-workspace-packages=true
disallow-workspace-cycles=true
# https://pnpm.io/npmrc#other-settings
use-stderr=true
# https://pnpm.io/cli/run#shell-emulator
shell-emulator=true
