{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "plugins": [
    "spellcheck"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.ts", "**/*.test.js"] }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-useless-constructor": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "spellcheck/spell-checker": ["warn", {
      "skipWords": [
        "configu",
        "cfgu",
        "upsert"
      ]
    }]
  },
  "overrides":[
    {
      "files": ["**/*.test.ts", "**/*.test.js"],
      "rules": {"dot-notation": "off"}
    }
  ],
  "ignorePatterns": [
    "generated.ts"
  ]
}
