{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "spellcheck"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.ts",
          "**/*.test.js"
        ]
      }
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-empty-function": "off",
    "no-useless-constructor": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": [
      "error"
    ],
    "spellcheck/spell-checker": [
      "warn",
      {
        "skipWords": [
          "configu",
          "cfgu",
          "upsert"
        ]
      }
    ],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "fixStyle": "inline-type-imports"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.test.ts",
        "**/*.test.js"
      ],
      "rules": {
        "dot-notation": "off"
      }
    }
  ],
  "ignorePatterns": [
    "generated.ts"
  ]
}