name: CD/@configu/cli

on:
  push:
    tags:
      - 'cli/v*'

env:
  PACKAGE_NAME: '@configu/cli'
  ARTIFACT_NAME: 'configu-cli'
  PACKAGE_PATH: 'packages/cli'

jobs:
  cd-cli:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: ./.github/actions/deploy-start-action
        id: deployment
        with:
          package-name: ${{ env.PACKAGE_NAME }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK_URL }}

      - uses: ./.github/actions/ts-env-action

      - name: Compile the CLI into a single executable
        run: pnpm -r compile

      - uses: actions/upload-artifact@master
        with:
          name: ${{ env.ARTIFACT_NAME }}-${{ matrix.os }}
          path: ${{ env.PACKAGE_PATH }}/dist
  end-release:
    runs-on: ubuntu-latest
    needs: cd-cli
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/download-artifact@master
        with:
          name: ${{ env.ARTIFACT_NAME }}-ubuntu-latest
          path: ${{ env.PACKAGE_PATH }}/dist
      - uses: actions/download-artifact@master
        with:
          name: ${{ env.ARTIFACT_NAME }}-macos-latest
          path: ${{ env.PACKAGE_PATH }}/dist
      - uses: actions/download-artifact@master
        with:
          name: ${{ env.ARTIFACT_NAME }}-windows-latest
          path: ${{ env.PACKAGE_PATH }}/dist

      - name: Upload artifacts to release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          prerelease: true
          name: cli
          tag_name: cli-${{ steps.deployment.outputs.release-version }}
          files: |
            ${{ env.ARTIFACT_NAME }}/dist/*

  docker:
    runs-on: ubuntu-latest
    needs: cd-cli
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/download-artifact@master
        with:
          name: ${{ env.ARTIFACT_NAME }}-ubuntu-latest
      - name: Build Docker image
        working-directory: ${{ env.PACKAGE_PATH }}
        run: docker build -t ${{ env.PACKAGE_NAME }}:${{ steps.deployment.outputs.release-version }} .
      - name: Login to dockerhub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Push Docker image
        run: docker push ${{ env.PACKAGE_NAME }}:${{ steps.deployment.outputs.release-version }}
