name: "CD: create-react-app example"

on:
  workflow_dispatch:
    inputs:
      CONFIGU_SET:
        description: "Configu Set"
        required: true
        default: "examples/netlify/github-actions"

env:
  ROOT_DIRECTORY: "examples/create-react-app"

jobs:
  build_and_deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/ts-env-action
        with:
          install-dependencies: false
          dependencies-root: ${{ env.ROOT_DIRECTORY }}

      # ----------
      - uses: configu/setup-cli-action@v1

      - name: Fetch configurations
        run: |
          cd ${{ env.ROOT_DIRECTORY }}
          configu export \
            --store 'store=configu;type=Token' \
            --set '${{ github.event.inputs.CONFIGU_SET }}' \
            --schema './create-react-app.cfgu.json' \
            --format 'Dotenv' \
            > .env
        env:
          CONFIGU_ORG: ${{ secrets.CONFIGU_ORG }}
          CONFIGU_TOKEN: ${{ secrets.CONFIGU_TOKEN }}

      - name: Install dependencies & Build React app
        run: |
          cd ${{ env.ROOT_DIRECTORY }}
          npm install
          npm run build --ignore-scripts # disable "prebuild" script to use current .env

      - name: Deploy to netlify
        uses: netlify/actions/cli@master
        with:
          args: deploy --prod --dir=${{ env.ROOT_DIRECTORY }}/build
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
