name: CD/@configu/ts

on:
  push:
    tags:
      - 'sdk/v*'
      - 'formatters/v*'

jobs:
  cd-ts:
    name: CD/@configu/ts
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/deploy-start-action
        with:
          slack-webhook: ${{ secrets.SLACK_WEBHOOK_URL }}

      - uses: ./.github/actions/get-release-action
        id: release

      - uses: ./.github/actions/ts-env-action
        id: env

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      # ---
      # todo: convert npm to pnpm commands and handle docs publishing
      # https://pnpm.io/workspaces#workspace-protocol-workspace
      - name: Bump package version
        shell: bash
        run: |
          pnpm --filter ${{ steps.release.outputs.package_name }} exec \
            npm --no-git-tag-version version ${{ steps.release.outputs.version }}
          pnpm install

      - name: Build package code
        run: |
          pnpm run build
          pnpm --filter ${{ steps.release.outputs.package_name }} run \
            build

      - name: Publish to npm
        run: |
          git diff
          pnpm --filter ${{ steps.release.outputs.package_name }} publish \
            --access public --provenance --no-git-checks --tag ${{ steps.release.outputs.channel }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      # ---
      - uses: ./.github/actions/deploy-end-action
        if: always()
        with:
          slack-webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
