name: "CD: @configu/{ts,node,browser} npm packages"

on:
  push:
    tags:
      - ts-*

env:
  PACKAGE_NAME: "@configu/ts"

jobs:
  build_and_deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/deploy-start-action
        id: deployment
        with:
          package-name: ${{ env.PACKAGE_NAME }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK_URL }}

      # - uses: ./.github/actions/ts-env-action

      # - uses: ./.github/actions/ts-env-action
      #   with:
      #     dependencies-root: "ts"

      # ----------
      # - name: Bump package version
      #   run: |
      #     cd ${{ env.CWD }}
      #     npm --no-git-tag-version version ${{ steps.deployment.outputs.release-version }} \
      #       --workspace=@configu/ts --workspace=@configu/node --workspace=@configu/browser

      # - name: Build package code
      #   run: |
      #     cd ${{ env.CWD }}
      #     npm run build \
      #       --workspace=@configu/ts --workspace=@configu/node --workspace=@configu/browser

      # - name: Publish to npm
      #   run: |
      #     cd ${{ env.CWD }}
      #     npm publish --access public \
      #       --workspace=@configu/ts --workspace=@configu/node --workspace=@configu/browser
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      # ----------

      - uses: ./.github/actions/deploy-end-action
        if: always()
        with:
          package-name: ${{ env.PACKAGE_NAME }}
          package-version: ${{ steps.deployment.outputs.release-version }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
