name: CI/Release Drafter

on:
  push:
    branches:
      - 'main'

jobs:
  ci-release:
    name: CI/Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [ts, cli, proxy]
        # package: [ts, lib, cli, proxy]
        # package: [ts, lib, cli, vscode]
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Draft release ${{ matrix.package }}
        uses: release-drafter/release-drafter@v6
        with:
          config-name: configs/${{ matrix.package }}-release-drafter.yml
          disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
