name: CI/Healthcare

on:
  repository_dispatch:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'

jobs:
  ci-health:
    name: CI/Healthcare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Broken Link Checker
        uses: lycheeverse/lychee-action@v2.6.1
        with:
          fail: true
          args: --verbose --no-progress --exclude-all-private --exclude 'stackoverflow.com' --exclude 'support.discord.com' --exclude-path 'examples' --exclude-path 'docs/snippets/callouts.mdx' .
